language: php

php:
  - 5.6
  - 7
  - 7.1

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction
  - if [[ $TRAVIS_PHP_VERSION = 7.1 ]]; then composer global require --dev phpstan/phpstan; fi
  - composer dump-autoload -o

script:
  - if [[ $TRAVIS_PHP_VERSION = 7.1 ]]; then ~/.composer/vendor/bin/phpstan analyse src/ --level=1; fi
  - ./bin/phpspec run
  - ./bin/coveralls -v --exclude-no-stmt

notifications:
  email: false

matrix:
  fast_finish: true
